---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | Jeanine White"
  description="About Jeanine White Lorem Ipsum">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="This is a little resume of the things i've done and learn">
        <img
          width="1553"
          height="873"
          src="/assets/aboutMe.jpg"
          alt="Jeanine White at work with a colleague"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            I start to get knowledge about the internet and how it works about
            12 years old. Me and my friends talked about PC components and and
            videogames. But when I was 15 I wanted to LEARN by DOING more than
            memorice a bunch of information from a higschool book. That lead me
            to complete around 50 online courses at <a
              href="https://platzi.com/">Platzi</a
            >
            in a period of 2 years (2019-2021).
            <p>
              I also was interested on doing sports: Taekwondo and Handbal.
              During my higschool period I also teach little kids at the
              Taekwondo club in my institute helping the teacher
            </p>
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>Corporis voluptates tenetur laudantium.</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>officia unde omnis</p>
          <p>officia unde omnis</p>
          <p>officia unde omnis</p>
          <p>officia unde omnis</p>
          <p>officia unde omnis</p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
